extends base

block content
    .container.mb-5.pb-3
        .bg-light.shadow-lg.rounded-3.overflow-hidden
            .row
                include _sidebar
                // Content
                section.col-lg-8.pt-lg-4.pb-4.mb-3
                    .pt-2.px-4.ps-lg-0.pe-xl-5
                        // Title
                        .d-sm-flex.flex-wrap.justify-content-between.align-items-center.border-bottom
                            h2.h3.py-2.me-2.text-center.text-sm-start
                                | Your products
                                span.badge.bg-faded-accent.fs-sm.text-body.align-middle.ms-2= products.length
                            .py-2
                                .d-flex.flex-nowrap.align-items-center.pb-3
                                    label.form-label.fw-normal.text-nowrap.mb-0.me-2(for='sorting') Sort by:
                                    select#sorting.form-select.form-select-sm.me-2
                                        option Date Created
                                        option Product Name
                                        option Price
                                        option Your Rating
                                        option Updates
                                    button.btn.btn-outline-secondary.btn-sm.px-2(type='button')
                                        i.ci-arrow-up

                        each product in products
                            // Product
                            .d-block.d-sm-flex.align-items-center.py-4.border-bottom
                                a.d-block.mb-3.mb-sm-0.me-sm-4.ms-sm-0.mx-auto(href=`/${store.slug}/products/${product.slug}` style='width: 12.5rem;')
                                    img.rounded-3(src=`${product.images[0]}` alt=`${product.title}`)
                                .text-center.text-sm-start
                                    h3.h6.product-title.mb-2
                                        a(href=`/${store.slug}/products/${product.slug}`)= product.title
                                    .d-inline-block.text-accent
                                        | $#{product.price}.
                                        small 00
                                    .d-inline-block.text-muted.fs-ms.border-start.ms-2.ps-2
                                        | Sales: 
                                        span.fw-medium 26
                                    .d-inline-block.text-muted.fs-ms.border-start.ms-2.ps-2
                                        | Earnings: 
                                        span.fw-medium
                                            | $327.
                                            small 60
                                    .d-flex.justify-content-center.justify-content-sm-start.pt-3
                                        //- button.btn.bg-faded-accent.btn-icon.me-2(type='button' data-bs-toggle='tooltip' title='Download')
                                        //-     i.ci-download.text-accent
                                        button.btn.bg-faded-info.btn-icon.me-2(type='button' data-bs-toggle='tooltip' title='Edit')
                                            i.ci-edit.text-info
                                        button.btn.bg-faded-danger.btn-icon(type='button' data-bs-toggle='tooltip' title='Delete')
                                            i.ci-trash.text-danger

