include _web-base

// Custom page title
.page-title-overlap.bg-dark.pt-4
    .container.d-lg-flex.justify-content-between.py-2.py-lg-3
        .order-lg-2.mb-3.mb-lg-0.pt-lg-2
            nav(aria-label='breadcrumb')
                ol.breadcrumb.breadcrumb-light.flex-lg-nowrap.justify-content-center.justify-content-lg-start
                    li.breadcrumb-item
                        a.text-nowrap(href='/')
                            i.ci-home
                            | Commercio
                    li.breadcrumb-item.text-nowrap
                        a(href=`/${store.slug}`)= store.storeName
                    li.breadcrumb-item.text-nowrap.active(aria-current='page')
                        | #{product.title}
        .order-lg-1.pe-lg-4.text-center.text-lg-start
            h1.h3.text-light.mb-2= product.title
            div
                .star-rating
                    i.star-rating-icon.ci-star-filled.active
                    i.star-rating-icon.ci-star-filled.active
                    i.star-rating-icon.ci-star-filled.active
                    i.star-rating-icon.ci-star-filled.active
                    i.star-rating-icon.ci-star
                span.d-inline-block.fs-sm.text-white.opacity-70.align-middle.mt-1.ms-1 74 Reviews
.container
    .bg-light.shadow-lg.rounded-3
        // Tabs
        ul.nav.nav-tabs(role='tablist')
            li.nav-item
                a.nav-link.py-4.px-sm-4.active(href='#general' data-bs-toggle='tab' role='tab')
                    | General 
                    span.d-none.d-sm-inline Info
            li.nav-item
                a.nav-link.py-4.px-sm-4(href='#reviews' data-bs-toggle='tab' role='tab')
                    | Reviews 
                    span.fs-sm.opacity-60 (74)
        .px-4.pt-lg-3.pb-3.mb-5
            .tab-content.px-lg-3
                // General info tab
                #general.tab-pane.fade.show.active(role='tabpanel')
                    .row
                        // Product gallery
                        .col-lg-7.pe-lg-0
                            .product-gallery
                                .product-gallery-preview.order-sm-2
                                    #first.product-gallery-preview-item.active
                                        img.image-zoom(src=product.images[0] data-zoom=product.images[0] alt=product.title)
                                        .image-zoom-pane
                                    -if(product.images[1])
                                        #second.product-gallery-preview-item
                                            img.image-zoom(src=product.images[1] data-zoom=product.images[1] alt=product.title)
                                            .image-zoom-pane
                                    -if(product.images[2])
                                        #third.product-gallery-preview-item
                                            img.image-zoom(src=product.images[2] data-zoom=product.images[2] alt=product.title)
                                            .image-zoom-pane
                                    //- #fourth.product-gallery-preview-item
                                    //-     img.image-zoom(src='/assets/theme/img/shop/single/gallery/08.jpg' data-zoom='/assets/theme/img/shop/single/gallery/08.jpg' alt='Product image')
                                    //-     .image-zoom-pane
                                .product-gallery-thumblist.order-sm-1
                                    a.product-gallery-thumblist-item.active(href='#first')
                                        img(src=product.images[0] alt='Product thumb')
                                    -if(product.images[1])
                                        a.product-gallery-thumblist-item(href='#second')
                                            img(src=product.images[1] alt='Product thumb')
                                    -if(product.images[2])
                                        a.product-gallery-thumblist-item(href='#third')
                                            img(src=product.images[2] alt='Product thumb')
                                    //- a.product-gallery-thumblist-item(href='#fourth')
                                    //-     img(src='/assets/theme/img/shop/single/gallery/th08.jpg' alt='Product thumb')
                                    //- a.product-gallery-thumblist-item.video-item(href='https://www.youtube.com/watch?v=nrQevwouWn0')
                                    //-     .product-gallery-thumblist-item-text
                                    //-         i.ci-video
                                    //-         | Video
                        // Product details
                        .col-lg-5.pt-4.pt-lg-0
                            .product-details.ms-auto.pb-3
                                .h3.fw-normal.text-accent.mb-3.me-1
                                    | $#{product.price.toFixed(2)}
                                    small
                                .fs-sm.mb-4
                                    span.text-heading.fw-medium.me-1 Sold By:
                                    span#colorOption.text-muted= store.storeName
                                .position-relative.me-n4.mb-3
                                    br
                                    .product-badge.product-available.mt-n1
                                        i.ci-security-check
                                        | Product available
                                        
                                .d-flex.align-items-center.pt-2.pb-4
                                    select.itemQty.form-select.me-3(style='width: 5rem')
                                        option(value='1') 1
                                        option(value='2') 2
                                        option(value='3') 3
                                        option(value='4') 4
                                        option(value='5') 5
                                    button.addToCart.btn.btn-primary.btn-shadow.d-block.w-100(type='button' data-product=product data-store=store)
                                        i.ci-cart.fs-lg.me-2
                                        | Add to Cart
                                .d-flex.mb-4
                                    .w-100.me-3
                                        button.btn.btn-secondary.d-block.w-100(type='button')
                                            i.ci-heart.fs-lg.me-2
                                            span.d-none.d-sm-inline Add to 
                                            | Wishlist
                                    //- .w-100
                                    //-     button.btn.btn-secondary.d-block.w-100(type='button')
                                    //-         i.ci-compare.fs-lg.me-2
                                    //-         | Compare
                                // Product panels
                                #productPanels.accordion.mb-4
                                    .accordion-item
                                        h3.accordion-header
                                            a.accordion-button(href='#shippingOptions' role='button' data-bs-toggle='collapse' aria-expanded='true' aria-controls='shippingOptions')
                                                i.ci-delivery.text-muted.lead.align-middle.mt-n1.me-2
                                                | Shipping options
                                        #shippingOptions.accordion-collapse.collapse.show(data-bs-parent='#productPanels')
                                            .accordion-body.fs-sm
                                                .d-flex.justify-content-between.border-bottom.pb-2
                                                    div
                                                        .fw-semibold.text-dark
                                                            | Local courier shipping
                                                        .fs-sm.text-muted 2 - 4 days
                                                    div $16.50
                                                .d-flex.justify-content-between.border-bottom.py-2
                                                    div
                                                        .fw-semibold.text-dark
                                                            | UPS ground shipping
                                                        .fs-sm.text-muted 4 - 6 days
                                                    div $19.00
                                                .d-flex.justify-content-between.pt-2
                                                    div
                                                        .fw-semibold.text-dark
                                                            | Local pickup from store
                                                        .fs-sm.text-muted &mdash;
                                                    div $0.00
                                    .accordion-item
                                        h3.accordion-header
                                            a.accordion-button.collapsed(href='#localStore' role='button' data-bs-toggle='collapse' aria-expanded='true' aria-controls='localStore')
                                                i.ci-location.text-muted.fs-lg.align-middle.mt-n1.me-2
                                                | Find in local store
                                        #localStore.accordion-collapse.collapse(data-bs-parent='#productPanels')
                                            .accordion-body
                                                select.form-select
                                                    option(value='') Select your country
                                                    option(value='Argentina') Argentina
                                                    option(value='Belgium') Belgium
                                                    option(value='France') France
                                                    option(value='Germany') Germany
                                                    option(value='Spain') Spain
                                                    option(value='UK') United Kingdom
                                                    option(value='USA') USA
                                // Sharing
                                label.form-label.d-inline-block.align-middle.my-2.me-3 Share:
                                a.btn-share.btn-twitter.me-2.my-2(href='#')
                                    i.ci-twitter
                                    | Twitter
                                a.btn-share.btn-instagram.me-2.my-2(href='#')
                                    i.ci-instagram
                                    | Instagram
                                a.btn-share.btn-facebook.my-2(href='#')
                                    i.ci-facebook
                                    | Facebook
                
                // Reviews tab
                #reviews.tab-pane.fade(role='tabpanel')
                    .d-md-flex.justify-content-between.align-items-start.pb-4.mb-4.border-bottom
                        .d-flex.align-items-center.me-md-3
                            img(src='/assets/theme/img/shop/single/gallery/th05.jpg' width='90' alt='Product thumb')
                            .ps-3
                                h6.fs-base.mb-2 Smartwatch Youth Edition
                                .h4.fw-normal.text-accent
                                    | $124.
                                    small 99
                        .d-flex.align-items-center.pt-3
                            select.form-select.me-2(style='width: 5rem')
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                                option(value='4') 4
                                option(value='5') 5
                            button.btn.btn-primary.btn-shadow.me-2(type='button')
                                i.ci-cart.fs-lg.me-sm-2
                                span.d-none.d-sm-inline Add to Cart
                            .me-2
                                button.btn.btn-secondary.btn-icon(type='button' data-bs-toggle='tooltip' title='Add to Wishlist')
                                    i.ci-heart.fs-lg
                            div
                                button.btn.btn-secondary.btn-icon(type='button' data-bs-toggle='tooltip' title='Compare')
                                    i.ci-compare.fs-lg
                    // Reviews
                    .row.pt-2.pb-3
                        .col-lg-4.col-md-5
                            h2.h3.mb-4 74 Reviews
                            .star-rating.me-2
                                i.ci-star-filled.fs-sm.text-accent.me-1
                                i.ci-star-filled.fs-sm.text-accent.me-1
                                i.ci-star-filled.fs-sm.text-accent.me-1
                                i.ci-star-filled.fs-sm.text-accent.me-1
                                i.ci-star.fs-sm.text-muted.me-1
                            span.d-inline-block.align-middle 4.1 Overall rating
                            p.pt-3.fs-sm.text-muted
                                | 58 out of 74 (77%)
                                br
                                | Customers recommended this product
                        .col-lg-8.col-md-7
                            .d-flex.align-items-center.mb-2
                                .text-nowrap.me-3
                                    span.d-inline-block.align-middle.text-muted 5
                                    i.ci-star-filled.fs-xs.ms-1
                                .w-100
                                    .progress(style='height: 4px')
                                        .progress-bar.bg-success(role='progressbar' style='width: 60%' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100')
                                span.text-muted.ms-3 43
                            .d-flex.align-items-center.mb-2
                                .text-nowrap.me-3
                                    span.d-inline-block.align-middle.text-muted 4
                                    i.ci-star-filled.fs-xs.ms-1
                                .w-100
                                    .progress(style='height: 4px')
                                        .progress-bar(role='progressbar' style='width: 27%; background-color: #a7e453' aria-valuenow='27' aria-valuemin='0' aria-valuemax='100')
                                span.text-muted.ms-3 16
                            .d-flex.align-items-center.mb-2
                                .text-nowrap.me-3
                                    span.d-inline-block.align-middle.text-muted 3
                                    i.ci-star-filled.fs-xs.ms-1
                                .w-100
                                    .progress(style='height: 4px')
                                        .progress-bar(role='progressbar' style='width: 17%; background-color: #ffda75' aria-valuenow='17' aria-valuemin='0' aria-valuemax='100')
                                span.text-muted.ms-3 9
                            .d-flex.align-items-center.mb-2
                                .text-nowrap.me-3
                                    span.d-inline-block.align-middle.text-muted 2
                                    i.ci-star-filled.fs-xs.ms-1
                                .w-100
                                    .progress(style='height: 4px')
                                        .progress-bar(role='progressbar' style='width: 9%; background-color: #fea569' aria-valuenow='9' aria-valuemin='0' aria-valuemax='100')
                                span.text-muted.ms-3 4
                            .d-flex.align-items-center
                                .text-nowrap.me-3
                                    span.d-inline-block.align-middle.text-muted 1
                                    i.ci-star-filled.fs-xs.ms-1
                                .w-100
                                    .progress(style='height: 4px')
                                        .progress-bar.bg-danger(role='progressbar' style='width: 4%' aria-valuenow='4' aria-valuemin='0' aria-valuemax='100')
                                span.text-muted.ms-3 2
                    hr.mt-4.mb-3
                    .row.py-4
                        // Reviews list
                        .col-md-7
                            .d-flex.justify-content-end.pb-4
                                .d-flex.flex-nowrap.align-items-center
                                    label.fs-sm.text-muted.text-nowrap.me-2.d-none.d-sm-block(for='sort-reviews') Sort by:
                                    select#sort-reviews.form-select.form-select-sm
                                        option Newest
                                        option Oldest
                                        option Popular
                                        option High rating
                                        option Low rating
                            // Review
                            .product-review.pb-4.mb-4.border-bottom
                                .d-flex.mb-3
                                    .d-flex.align-items-center.me-4.pe-2
                                        img.rounded-circle(src='/assets/theme/img/shop/reviews/01.jpg' width='50' alt='Rafael Marquez')
                                        .ps-3
                                            h6.fs-sm.mb-0 Rafael Marquez
                                            span.fs-ms.text-muted June 28, 2019
                                    div
                                        .star-rating
                                            i.star-rating-icon.ci-star-filled.active
                                            i.star-rating-icon.ci-star-filled.active
                                            i.star-rating-icon.ci-star-filled.active
                                            i.star-rating-icon.ci-star-filled.active
                                            i.star-rating-icon.ci-star
                                        .fs-ms.text-muted
                                            | 83% of users found this review helpful
                                p.fs-md.mb-2
                                    | Nam libero tempore, cum soluta nobis est eligendi optio
                                    | cumque nihil impedit quo minus id quod maxime placeat
                                    | facere possimus, omnis voluptas assumenda est...
                                ul.list-unstyled.fs-ms.pt-1
                                    li.mb-1
                                        span.fw-medium Pros:&nbsp;
                                        | Consequuntur
                                        |                         magni, voluptatem sequi, tempora
                                    li.mb-1
                                        span.fw-medium Cons:&nbsp;
                                        | Architecto
                                        |                         beatae, quis autem
                                .text-nowrap
                                    button.btn-like(type='button') 15
                                    button.btn-dislike(type='button') 3
                            // Review
                            .product-review.pb-4.mb-4.border-bottom
                                .d-flex.mb-3
                                    .d-flex.align-items-center.me-4.pe-2
                                        img.rounded-circle(src='/assets/theme/img/shop/reviews/02.jpg' width='50' alt='Barbara Palson')
                                        .ps-3
                                            h6.fs-sm.mb-0 Barbara Palson
                                            span.fs-ms.text-muted May 17, 2019
                                    div
                                        .star-rating
                                            i.star-rating-icon.ci-star-filled.active
                                            i.star-rating-icon.ci-star-filled.active
                                            i.star-rating-icon.ci-star-filled.active
                                            i.star-rating-icon.ci-star-filled.active
                                            i.star-rating-icon.ci-star-filled.active
                                        .fs-ms.text-muted
                                            | 99% of users found this review helpful
                                p.fs-md.mb-2
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    | sed do eiusmod tempor incididunt ut labore et dolore magna
                                    | aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    | ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                ul.list-unstyled.fs-ms.pt-1
                                    li.mb-1
                                        span.fw-medium Pros:&nbsp;
                                        | Consequuntur
                                        |                         magni, voluptatem sequi, tempora
                                    li.mb-1
                                        span.fw-medium Cons:&nbsp;
                                        | Architecto
                                        |                         beatae, quis autem
                                .text-nowrap
                                    button.btn-like(type='button') 34
                                    button.btn-dislike(type='button') 1
                            // Review
                            .product-review.pb-4.mb-4.border-bottom
                                .d-flex.mb-3
                                    .d-flex.align-items-center.me-4.pe-2
                                        img.rounded-circle(src='/assets/theme/img/shop/reviews/03.jpg' width='50' alt='Daniel Adams')
                                        .ps-3
                                            h6.fs-sm.mb-0 Daniel Adams
                                            span.fs-ms.text-muted May 8, 2019
                                    div
                                        .star-rating
                                            i.star-rating-icon.ci-star-filled.active
                                            i.star-rating-icon.ci-star-filled.active
                                            i.star-rating-icon.ci-star-filled.active
                                            i.star-rating-icon.ci-star
                                            i.star-rating-icon.ci-star
                                        .fs-ms.text-muted
                                            | 75% of users found this review helpful
                                p.fs-md.mb-2
                                    | Sed ut perspiciatis unde omnis iste natus error sit
                                    | voluptatem accusantium doloremque laudantium, totam rem
                                    | aperiam, eaque ipsa quae ab illo inventore veritatis et
                                    | quasi architecto beatae vitae dicta sunt explicabo. Nemo
                                    | enim ipsam voluptatem.
                                ul.list-unstyled.fs-ms.pt-1
                                    li.mb-1
                                        span.fw-medium Pros:&nbsp;
                                        | Consequuntur
                                        |                         magni, voluptatem sequi
                                    li.mb-1
                                        span.fw-medium Cons:&nbsp;
                                        | Architecto
                                        |                         beatae, quis autem, voluptatem sequ
                                .text-nowrap
                                    button.btn-like(type='button') 26
                                    button.btn-dislike(type='button') 9
                            .text-center
                                button.btn.btn-outline-accent(type='button')
                                    i.ci-reload.me-2
                                    | Load more reviews
                        // Leave review form
                        .col-md-5.mt-2.pt-4.mt-md-0.pt-md-0
                            .bg-secondary.py-grid-gutter.px-grid-gutter.rounded-3
                                h3.h4.pb-2 Write a review
                                form.needs-validation(method='post' novalidate='')
                                    .mb-3
                                        label.form-label(for='review-name')
                                            | Your name
                                            span.text-danger *
                                        input#review-name.form-control(type='text' required='')
                                        .invalid-feedback
                                            | Please enter your name!
                                        small.form-text.text-muted Will be displayed on the comment.
                                    .mb-3
                                        label.form-label(for='review-email')
                                            | Your email
                                            span.text-danger *
                                        input#review-email.form-control(type='email' required='')
                                        .invalid-feedback
                                            | Please provide valid email address!
                                        small.form-text.text-muted Authentication only - we won&apos;t spam you.
                                    .mb-3
                                        label.form-label(for='review-rating')
                                            | Rating
                                            span.text-danger *
                                        select#review-rating.form-select(required='')
                                            option(value='') Choose rating
                                            option(value='5') 5 stars
                                            option(value='4') 4 stars
                                            option(value='3') 3 stars
                                            option(value='2') 2 stars
                                            option(value='1') 1 star
                                        .invalid-feedback
                                            | Please choose rating!
                                    .mb-3
                                        label.form-label(for='review-text')
                                            | Review
                                            span.text-danger *
                                        textarea#review-text.form-control(rows='6' required='')
                                        .invalid-feedback
                                            | Please write a review!
                                        small.form-text.text-muted Your review must be at least 50 characters.
                                    .mb-3
                                        label.form-label(for='review-pros') Pros
                                        textarea#review-pros.form-control(rows='2' placeholder='Separated by commas')
                                    .mb-4
                                        label.form-label(for='review-cons') Cons
                                        textarea#review-cons.form-control(rows='2' placeholder='Separated by commas')
                                    button.btn.btn-primary.btn-shadow.d-block.w-100(type='submit')
                                        | Submit a Review
// Product description
.container.pt-lg-3.pb-4.pb-sm-5
    .row.justify-content-center
        .col-lg-8
            h2.h3.pb-2 Product Details
            p
                | #{product.description}
hr.mb-5
// Product carousel (You may also like)
.container.pt-lg-2.pb-5.mb-md-3
    h2.h3.text-center.pb-4 You may also like
    .tns-carousel.tns-controls-static.tns-controls-outside
        .tns-carousel-inner(data-carousel-options='{"items": 2, "controls": true, "nav": false, "responsive": {"0":{"items":1},"500":{"items":2, "gutter": 18},"768":{"items":3, "gutter": 20}, "1100":{"items":4, "gutter": 30}}}')
            // Product
            div
                .card.product-card.card-static
                    button.btn-wishlist.btn-sm(type='button' data-bs-toggle='tooltip' data-bs-placement='left' title='Add to wishlist')
                        i.ci-heart
                    a.card-img-top.d-block.overflow-hidden(href='#')
                        img(src='/assets/theme/img/shop/catalog/66.jpg' alt='Product')
                    .card-body.py-2
                        a.product-meta.d-block.fs-xs.pb-1(href='#') Smartwatches
                        h3.product-title.fs-sm
                            a(href='#') Health &amp; Fitness Smartwatch
                        .d-flex.justify-content-between
                            .product-price
                                span.text-accent
                                    | $250.
                                    small 00
                            .star-rating
                                i.star-rating-icon.ci-star-filled.active
                                i.star-rating-icon.ci-star-filled.active
                                i.star-rating-icon.ci-star-filled.active
                                i.star-rating-icon.ci-star-filled.active
                                i.star-rating-icon.ci-star
            // Product
            div
                .card.product-card.card-static
                    button.btn-wishlist.btn-sm(type='button' data-bs-toggle='tooltip' data-bs-placement='left' title='Add to wishlist')
                        i.ci-heart
                    a.card-img-top.d-block.overflow-hidden(href='#')
                        img(src='/assets/theme/img/shop/catalog/67.jpg' alt='Product')
                    .card-body.py-2
                        a.product-meta.d-block.fs-xs.pb-1(href='#') Smartwatches
                        h3.product-title.fs-sm
                            a(href='#') Heart Rate &amp; Activity Tracker
                        .d-flex.justify-content-between
                            .product-price.text-accent
                                | $26.
                                small 99
                            .star-rating
                                i.star-rating-icon.ci-star-filled.active
                                i.star-rating-icon.ci-star-filled.active
                                i.star-rating-icon.ci-star-half.active
                                i.star-rating-icon.ci-star
                                i.star-rating-icon.ci-star
            // Product
            div
                .card.product-card.card-static
                    button.btn-wishlist.btn-sm(type='button' data-bs-toggle='tooltip' data-bs-placement='left' title='Add to wishlist')
                        i.ci-heart
                    a.card-img-top.d-block.overflow-hidden(href='#')
                        img(src='/assets/theme/img/shop/catalog/64.jpg' alt='Product')
                    .card-body.py-2
                        a.product-meta.d-block.fs-xs.pb-1(href='#') Smartwatches
                        h3.product-title.fs-sm
                            a(href='#') Smart Watch Series 5, Aluminium
                        .d-flex.justify-content-between
                            .product-price.text-accent
                                | $349.
                                small 99
                            .star-rating
                                i.star-rating-icon.ci-star-filled.active
                                i.star-rating-icon.ci-star-filled.active
                                i.star-rating-icon.ci-star-filled.active
                                i.star-rating-icon.ci-star-filled.active
                                i.star-rating-icon.ci-star
            // Product
            div
                .card.product-card.card-static
                    button.btn-wishlist.btn-sm(type='button' data-bs-toggle='tooltip' data-bs-placement='left' title='Add to wishlist')
                        i.ci-heart
                    a.card-img-top.d-block.overflow-hidden(href='#')
                        img(src='/assets/theme/img/shop/catalog/68.jpg' alt='Product')
                    .card-body.py-2
                        a.product-meta.d-block.fs-xs.pb-1(href='#') Smartwatches
                        h3.product-title.fs-sm
                            a(href='#') Health &amp; Fitness Smartwatch
                        .d-flex.justify-content-between
                            .product-price.text-accent
                                | $118.
                                small 00
                            .star-rating
                                i.star-rating-icon.ci-star-filled.active
                                i.star-rating-icon.ci-star-filled.active
                                i.star-rating-icon.ci-star-filled.active
                                i.star-rating-icon.ci-star-filled.active
                                i.star-rating-icon.ci-star-filled.active
            // Product
            div
                .card.product-card.card-static
                    button.btn-wishlist.btn-sm(type='button' data-bs-toggle='tooltip' data-bs-placement='left' title='Add to wishlist')
                        i.ci-heart
                    a.card-img-top.d-block.overflow-hidden(href='#')
                        img(src='/assets/theme/img/shop/catalog/69.jpg' alt='Product')
                    .card-body.py-2
                        a.product-meta.d-block.fs-xs.pb-1(href='#') Smartwatches
                        h3.product-title.fs-sm
                            a(href='#') Heart Rate &amp; Activity Tracker
                        .d-flex.justify-content-between
                            .product-price.text-accent
                                | $25.
                                small 00
                            .star-rating
                                i.star-rating-icon.ci-star-filled.active
                                i.star-rating-icon.ci-star-filled.active
                                i.star-rating-icon.ci-star-filled.active
                                i.star-rating-icon.ci-star-half.active
                                i.star-rating-icon.ci-star
include _footer
